@model ConectaCafe.Models.Produto
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-5 mx-auto">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-warning shadow-warning border-radius-lg pt-4 pb-3">
                <h5 class="text-white text-capitalize ps-3 mb-0">@ViewData["Title"]</h5>
                <h6 class="text-white text-capitalize ps-3">Excluir</h6>
            </div>
        </div>
        <div class="card-body pb-2">
            <div class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Preco)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Preco)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Categoria.Nome)
                </dd>
                </dl>
                <div class="mb-3">
                    <form asp-action="Delete">
                        <h5 class="text-danger">Confirma a exclusão deste produto?</h5>
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Deletar" class="btn btn-danger me-2 " />
                        <a asp-action="Index" class="btn btn-dark">Voltar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>